{% load staticfiles %}
<html>
    <head>
        <title>PROBEGIN BLOG</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
<body>
    <div class="page-header">

        {% if request.user.is_authenticated and request.user.is_superuser%}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}

        <h1><a href="/">PROBEGIN BLOG</a></h1>
        {% if request.user.is_authenticated %}
            <a href="{% url 'auth:logout' %}" class="logout">logout</a>
        {%endif%}
        {% if not request.user.is_authenticated %}
            <a href="{% url 'auth:login' %}" class="login">login</a>
        {%endif%}
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
            {% block content %}

            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>